<nav>
    <ul>
        <li>
            <button>
                <mat-icon svgIcon="home"></mat-icon>
            </button>
        </li>
        <li>
            <button>
                <mat-icon svgIcon="projects"></mat-icon>
            </button>
        </li>
        <li>
            <button>
                <mat-icon svgIcon="articles"></mat-icon>
            </button>
        </li>
        <li>
            <button>
                <mat-icon svgIcon="about"></mat-icon>
            </button>
        </li>
        <li>
            <button>
                <mat-icon svgIcon="contact"></mat-icon>
            </button>
        </li>
    </ul>
</nav>