:host {
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
    z-index: 10;

    nav {
        margin-top: 10px;
        
        ul {
            display: flex;
            align-items: center;
            justify-content: center;
            border: 1px solid #4e4e4e;
            border-radius: 15px;
            padding: 0 20px;
            gap: 30px;
            transition: .3s ease;

            li {
                padding: 5px;
                border-radius: 10px;

                a {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding: 5px 10px;
                    border-radius: 12px;

                    .icon {
                        width: 30px;
                        height: 30px;
                        transition: .3s ease;
                        color: #727272;
                    }

                    &:hover {                        
                        .icon {
                            fill: #fff;
                            color: #fff;
                        }
                    }

                    &.active {
                        background-color: #000; 
                        
                        .icon {
                            color: #fff;
                        }
                    }
                }
            }

            &:hover {
                transform: scale(1.1);
                background-color: #141414;
            }
        }
    }
}