<nav>
    <ul>
        <li>
            <a routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                <mat-icon class="icon" svgIcon="home"></mat-icon>
            </a>
        </li>
        <li>
            <a routerLink="/projects" routerLinkActive="active">
                <mat-icon class="icon" svgIcon="projects"></mat-icon>
            </a>
        </li>
        <li>
            <a routerLink="/articles" routerLinkActive="active">
                <mat-icon class="icon" svgIcon="articles"></mat-icon>
            </a>
        </li>
        <li>
            <a routerLink="/about" routerLinkActive="active">
                <mat-icon class="icon" svgIcon="about"></mat-icon>
            </a>
        </li>
        <li>
            <a routerLink="/contact" routerLinkActive="active">
                <mat-icon class="icon" svgIcon="contact"></mat-icon>
            </a>
        </li>
    </ul>
</nav>
