@use '../../../styles/variables' as *;
@use '../../../styles/mixins' as mixins;

:host {
    @include mixins.flex-center;
    position: sticky;
    top: 0;
    z-index: 10;

    nav {
        margin-top: 10px;
        
        ul {
            @include mixins.flex-center;
            border: 1px solid #4e4e4e;
            border-radius: 15px;
            padding: 0 20px;
            gap: 30px;
            transition: .3s ease;

            li {
                padding: 5px;
                border-radius: 10px;

                a {
                    @include mixins.flex-center;
                    padding: 5px 10px;
                    border-radius: 12px;

                    .icon {
                        width: 30px;
                        height: 30px;
                        transition: .3s ease;
                        color: $light-gray;
                    }

                    &:hover .icon{                        
                        color: $white;
                    }

                    &.active {
                        background-color: $black; 
                        
                        .icon {
                            color: $white;
                        }
                    }
                }
            }

            &:hover {
                transform: scale(1.1);
                background-color: #141414;
            }
        }
    }
}