.nav-link {
    .nav-icon {
        width: 26px;
        height: 26px;
        color: var(--color-light-gray);
        transition: .3s;
    }

    &:hover .nav-icon {
        color: var(--color-white);
    }

    &.active {
        background-color: var(--color-primary);
        opacity: 0.9;

        .nav-icon {
            color: var(--color-white);
        }
    }
}
