@use '../../../styles/variables' as *;

:host {
    padding: 30px 0;
    border-top: 2px solid ;
    width: 100%;
    display: flex;
    margin-top: 90px;
    border: none;
    flex-direction: column;

    &::before {
        content: '';
        width: 100%;
        height: 2px;
        background-color: #fff;
        background: linear-gradient(90deg, transparent 0%, $primary-color 50%, transparent 100% );
    }
    

    img {
        max-width: 60px;
        max-height: 60px;
        margin: 10px auto 10px;
    }

    span {
        font-size: .8rem;
        color: $secondary-text;
    }
}