.img-wrapper {
    box-shadow: 0 40px 300px 150px #9797974f;

    &:hover {
        box-shadow: 0 0 20px 10px rgba(245, 182, 66, 0.5);
    }
}

.social-icon {
    width: 36px;
    height: 36px;
    color: var(--color-dark-gray);

    &:hover {
        color: var(--color-white);
    }
}

.home-btn:hover {
    border-color: var(--color-primary);
    color: var(--color-primary);
}
