@use 'app/styles/variables' as *;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
    width: 100%;
    scroll-behavior: smooth;
    font-family: "Poppins", sans-serif;

    body {
        font-weight: 500;
        background-color: $background;
        color: $primary-text;
        display: flex;
        justify-content: center;
        text-align: center;

        img {
            max-width: 100%;
            display: block;
        }

        a {
            text-decoration: none;
            color: $primary-text;
        }

        button {
            background-color: transparent;
            border: none;
            cursor: pointer;
        }

        li {
            list-style-type: none;
        }
    }
}