@use '../../styles/variables' as *;

:host {
    display: flex;
    flex-direction: column;
    max-width: 800px;
    padding-top: 120px;


    h2 {
        font-size: 2.5rem;
        font-weight: 600;

        &::after {
            content: '';
            height: 2px;
            width: 10%;
            margin: 0 auto;
            display: block;
            background-color: $primary-color;
        }
    }

    span {
        color: $secondary-text;
        font-size: .9rem;
        padding-top: 10px;
    }

    .cards {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        gap: 50px;
        margin-top: 30px;
        padding: 20px;

        .card-item {
            background: rgba(255, 255, 255, 0.05);
            padding: 20px;
            border-radius: 20px;
            box-shadow: 0 2px 10px #ff7f5f5b;
            transition: transform 0.3s ease, box-shadow 0.3s ease;
            cursor: pointer;
            color: #fff;
            position: relative;

            &:hover {
                transform: translateY(-10px);
                box-shadow: 0 2px 20px #ff7f5f5b;
            }

            .card-header {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-bottom: 10px;
                color: $primary-text;

                .card-title {
                    font-size: 1.3rem;
                    font-weight: 600;
                    
                }

                .links {
                    display: flex;
                    gap: 20px;
                    align-items: center;

                    .icon {
                        color: $secondary-text;
                        transition: .3s;

                        &:hover {
                            color: $white;
                        }
                    }
                }
            }

            .img-wrapper {
                overflow: hidden;
                border-radius: 12px;
                position: relative;

                img {
                    width: 100%;
                    height: auto;
                    transition: transform .3s ease;

                    &:hover {
                        transform: scale(1.05); 
                    }
                }  
            }

            .tags {
                display: flex;
                gap: 10px;
                margin-top: 16px;
                flex-wrap: wrap;

                span {
                    background: rgba(255, 255, 255, 0.1);
                    padding: 5px 10px;
                    border-radius: 20px;
                    font-size: 0.85rem;
                    color: #aaa;
                    transition: background 0.3s ease;

                    &:hover {
                        background: $primary-color;
                        color: #fff;
                    }
                }
            }
        }
    }
}